---
superorid: superorg
subjectheader: 'HTTP_X_SSL_SUBJECT'
appseed: seed
appsecrets:
    org1: secret
organizations_api: http://api.example.org
backend: objectstore.example.net
buckets:
  mp4: media
  m3u8: playout
